<h1>Address Book</h1>
<% if flash[:notice] %>
      <p class="notice">
      	<%= flash[:notice] %>
      </p>
<% end %>
<% if @addresses.empty? %>
No contacts<br />
<% else %>
	<table>
	  <tr>
	    <th>First Name</th>
	    <th>Last Name</th>
	    <th>Phone Number</th>
	  </tr>
		<% @addresses.each do |address| %>
		  <tr>
		  	<td><%= address.f_name %></td>
		  	<td><%= address.l_name %></td>
		    <td><%= address.phone_num %></td>
		    <td><%= link_to 'Show', address %></td>
		    <td><%= link_to 'Edit', edit_address_path(address) %></td>
		    <td><%= link_to 'Destroy', address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		  </tr>
		<% end %>
	</table>
<% end %>
<br />

<%= link_to 'New Contact', new_address_path %>
