<!DOCTYPE html>
<html>
<head>
  <title>Web Address Book</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<br><br>
<% if session[:user_id].nil? %>

<% else %>
	<%= link_to "Log out", :controller => 'sessions', :action => 'logout' %>
<% end %>

</body>
</html>
